*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
}

#sidebar {
    position: fixed;
    width: 220px;
    height: 100%;
    background:black;
    left: -220px;
    transition: all 500ms linear;
}

#sidebar.active {
    left: 0;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(243, 239, 239, 0.75);
}
#sidebar ul li {
    color: rgba(230 , 230 , 230 , 9);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    color:aqua;
    border-bottom: 1px solid rgba(100, 100, 100, 3);
}
#sidebar ul li:hover {
    background: whitesmoke;
}
 
#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 4rem  black;

}
